* {
	box-sizing: border-box;
}

@keyframes change {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0;
	}
}

.boxed {
	padding-top: 33.33333%;
	border: 1px solid rgba(51, 51, 51, 0.5);
	cursor: pointer;
}

.hd-bt {
	border-top: 0;
}

.hd-br {
	border-right: 0;
}

.hd-bb {
	border-bottom: 0;
}

.hd-bl {
	border-left: 0;
}

.cross,
.crossE {
	position: absolute;
	width: 16.6665%;
	height: 100%;
	top: 10%;
	margin-left: 16.6665%;
	cursor: default;
}

.cross:before,
.cross:after,
.crossE:before,
.crossE:after {
	position: absolute;
	content: ' ';
	height: 80%;
	width: 3px;
	background-color: #333;
}

.cross:before,
.crossE:before {
	transform: rotate(45deg);
}

.cross:after,
.crossE:after {
	transform: rotate(-45deg);
}

.crossE {
	opacity: 1;
}

.crossE:before,
.crossE:after {
	background-color: #0dd;
}

.circle {
	position: absolute;
	height: 60%;
	width: 20%;
	top: 18%;
	margin-left: 6.666%;
	background-color: transparent;
	border: 3px solid #333;
	border-radius: 50%;
}

div[id^="cr"] {
	display: none;
}

div[id^="ci"] {
	display: none;
}

.change {
	animation: change 2s 1;
	animation-fill-mode: forwards;
}

.sboard {
	padding: 0px calc(6.25% - 75px);	
}

.score1,
.score2 {
	text-align: center;
	border-radius: 10px;
	border-bottom: 2px solid black;
	width: 150px;
}


.btn {
	position: absolute;
	width: auto;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #333;
	margin: 15px 10px;
	right: 0;
	padding: 0 10px;
	cursor: pointer;
}

.player {
	width: 100%;
	text-align: center;
	background-color: #000;
	opacity: 1.0;
	border-radius: 10px 10px 0 0;
	color: white;
	padding: 5px 10px;
	font-size: 1.5em;	
}

.score-on-sm .player {
  border-radius: 10px;
}

.player span {
	color: #fff;
}

.score-on-sm .score1, .score-on-sm .score2 {
  border-bottom: none;
  width: auto;
  font-size: 12px;
}

.score-on-sm .player-2 {
  float: right !important;
}

#p2 {
	opacity: 0.2;
}

.sp {
	font-size: 4em;
}